build/
tools/Java/
tools/server.jar
dist/*
upload.py
__pycache__/
*.pyc
data/api_plugin_registry.json*
.coverage
core/runtime/restart
core/runtime/plugin_start_channel-points
core/runtime/plugin_start_test-plugin
core/runtime/plugin_stop_channel-points
core/runtime/plugin_stop_test-plugin
core/runtime/shutdown
