build/
tools/Java/
tools/server.jar
dist/*
upload.py
__pycache__/
*.pyc
*.dll
data/api_plugin_registry.json*
.coverage
core/runtime/restart
core/runtime/plugin_start_channel-points
core/runtime/plugin_start_test-plugin
core/runtime/plugin_stop_channel-points
core/runtime/plugin_stop_test-plugin
core/runtime/shutdown
templates/gui/node_modules/
data/.enc_key
data/backups/
node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
tmp/gui.lock
server/

